__Old/*
Erick&Thierry alias
.DS_Store
*.*~
*.aux
*.log
*.out
*.upa
*.upb
*.dvi
*.#
*.pyc
*.npy
*.org_archive
_region_.tex
*.pdf
abstract_ecole.org
revue_litt.org
*.nb
/bibliographie.org
/Model/bug.py
*.pcl
/Article/master-blx.bib
/Article/master.bbl
/Article/master.bcf
/Article/master.blg
/Article/master.run.xml
*.bbl
*.bcf
/Article/nips2016/big_data_portfolio_optimization.blg
